@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('normalize.css');
@import url('reset.css');

body {
	font-family: 'Poppins', sans-serif;
}

p {
	color: #8f95a5;
}

::-webkit-scrollbar {
	display: none;
}

.container {
	max-width: 1340px;
	margin: 0 auto;
}

.logo a {
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.logo:hover a {
	opacity: 0.7;
}

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 55px;
}

.navbar-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.navbar-li a {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	padding-right: 37px;
	color: #263238;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.navbar-li a:hover {
	opacity: 0.8;
}

.navbar-li:nth-child(5) {
	padding-right: 0;
}

.navbar-btn {
	border: 2px solid rgba(38, 50, 56, 1);
	background-color: #fff;
	width: 220px;
	height: 70px;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.navbar-btn:hover {
	background-color: rgba(38, 50, 56, 1);
	color: #fff;
}

.hero-text-h {
	width: 386px;
	height: 240px;
	font-weight: 600;
	font-size: 64px;
	line-height: 80px;
}

.hero-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.hero-button {
	color: #fff;
	border-radius: 15px;
	background-color: rgba(38, 50, 56, 1);
	width: 438px;
	height: 118px;
	cursor: pointer;
	border: 1px solid rgba(38, 50, 56, 1);
	font-size: 36px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.hero-button:active {
	border: 2px solid rgba(38, 50, 56, 1);
	background-color: #fff;
	color: #263238;
}

.hero-text-h {
	margin-top: 125px;
}

.hero-text-p {
	width: 632px;
	height: 108px;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	margin-top: 40px;
	margin-bottom: 61px;
}

/* Cards */

.column-card-btn {
	background-color: rgba(38, 50, 56, 1);
	width: 230px;
	height: 60px;
	border-radius: 5px;
	margin-right: 162px;
	margin-left: 43px;
	cursor: pointer;
	border: 1px solid rgba(38, 50, 56, 1);
	color: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.column-card-btn:active {
	border: 2px solid rgba(38, 50, 56, 1);
	background-color: #f5f5f5;
	color: #263238;
}

.column-card-text-h {
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
	margin-right: 248px;
	margin-left: 43px;
}

.column-card-text-p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	width: 347px;
	height: 192px;
	margin-bottom: 36px;
	margin-right: 45px;
	margin-left: 43px;
}

.column-card {
	width: 435px;
	height: 894px;
	background-color: rgba(245, 245, 245, 1);
	border-radius: 10px;
	margin-right: 18px;
}

.column-card-image {
	margin-top: 35px;
	margin-right: 22px;
	margin-left: 23px;
}

.firstCard {
	width: 434px;
	height: 531px;
	background-color: rgba(245, 245, 245, 1);
	border-radius: 10px;
	margin-right: 18px;
}

.secondCard {
	width: 435px;
	height: 532px;
	background-color: rgba(245, 245, 245, 1);
	border-radius: 10px;
}

.cards-list {
	width: 1356px;
	height: 894px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.thirdCard {
	width: 885px;
	height: 343px;
	background-color: rgba(245, 245, 245, 1);
	margin-top: 20px;
	border-radius: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.two-cards-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.thirdCard-text-h {
	font-weight: 600;
	width: 137px;
	height: 80px;
	font-size: 30px;
	line-height: 80px;
	margin-top: 43px;
	/* margin-left: 48px; */
}

.third-card-text {
	height: 72px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* margin-left: 48px; */
	margin-bottom: 25px;
}

.third-card-btn {
	width: 218px;
	height: 60px;
	background-color: rgba(38, 50, 56, 1);
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgba(38, 50, 56, 1);
	color: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.third-card-btn:active {
	border: 2px solid rgba(38, 50, 56, 1);
	background-color: #f5f5f5;
	color: #263238;
}

.writing-image {
	margin-left: 122px;
	margin-top: 4px;
	margin-right: 19px;
}

.firstCard-text-h {
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
	margin-left: 42px;
	margin-right: 280px;
	margin-bottom: 55px;
}

.firstCard-btn {
	width: 218px;
	height: 60px;
	background-color: rgba(38, 50, 56, 1);
	margin-left: 41px;
	margin-right: 175px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgba(38, 50, 56, 1);
	color: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.firstCard-btn:active {
	border: 2px solid rgba(38, 50, 56, 1);
	background-color: #f5f5f5;
	color: #263238;
}

.secondCard-text-h {
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
	margin-left: 41px;
	/* margin-top: 10px; */
}

.secondCard-text-p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-left: 43px;
	margin-bottom: 35px;
}

.skills {
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	text-align: center;
	margin-top: 147px;
	margin-bottom: 96px;
}

.lightbulb {
	margin-bottom: 200px;
	/* margin-right: 200px; */
}

/* About section start */
.about-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.types {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.about-text-h {
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	color: #000000;
	margin-bottom: 23px;
	margin-top: 282px;
}

.about-text-p {
	width: 635px;
	height: 240px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8f95a5;
}

.numbers {
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	color: #2a3246;
}

.types-text {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8f95a5;
}

.languages {
	text-align: center;
}

.about-image-section {
	margin-top: 260px;
}

/* end of about */
/* Pricing section */

.pricing-cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.pricing-card:nth-child(2) img {
	margin-top: 83px;
	margin-bottom: 42px;
}

.pricing-card:first-child img {
	margin-bottom: 40px;
}

.pricing-card:last-child img {
	margin-bottom: 11px;
}

.pricing-card img {
	margin-top: 57px;
}

.pricing-card:nth-child(2) .pricing-card-text-p {
	margin-bottom: 59px;
}

.pricing-card:last-child .pricing-card-text-p {
	margin-bottom: 59px;
}

.pricing-card:first-child .pricing-card-text-p {
	margin-bottom: 29px;
}

.pricing-text {
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	color: #000000;
	text-align: center;
	margin-top: 229px;
}

.pricing-card-text-h {
	font-weight: 600;
	font-size: 30px;
	line-height: 48px;
	color: #263238;
	margin-bottom: 20px;
}

.pricing-card-text-p {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8f95a5;
}

.pricing-per-month {
	width: 240px;
	height: 45px;
	background: #eeeeee;
	border-radius: 5px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.ppm-text-h {
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	color: #263238;
}

.ppm-text-p {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #546269;
}

/* end of pricing */
/* Contact start */

.contact-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 261px;
}

.contact-text-h {
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	color: #000000;
}

.contact-text-p {
	width: 776px;
	height: 60px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8f95a5;
	margin-bottom: 52px;
	margin-top: 37px;
}

.contact-input {
	width: 450px;
	height: 80px;
	outline: none;
	border: 1px solid #8f95a5;
	border-radius: 10px;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	padding-left: 30px;
}

.contact-input:focus {
	outline: none;
	border: 1px solid #000;
}

.contact-button {
	width: 264px;
	height: 80px;
	background: #263238;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.contact-button:active {
	background-color: #fff;
	color: #263238;
}

.contact-content {
	margin-bottom: 133px;
}

/* end of contact */

/* footer */
.footer-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 31px;
	margin-bottom: 30px;
}

.line {
	background: #c4c4c4;
	width: 1338px;
	height: 1px;
	display: block;
	opacity: 0.4;
}

.footer-logo a {
	cursor: pointer;
	-webkit-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

.footer-logo:hover a {
	opacity: 0.8;
}

.hero-text-section {
	-webkit-animation-name: text-section-frame;
	animation-name: text-section-frame;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	margin-left: 0%;
}

@-webkit-keyframes text-section-frame {
	from {
		margin-left: -10%;
		opacity: 10%;
	}
	to {
		margin-left: 0%;
	}
}

@keyframes text-section-frame {
	from {
		margin-left: -10%;
		opacity: 10%;
	}
	to {
		margin-left: 0%;
	}
}

.image-section {
	-webkit-animation-name: image-section-frame;
	animation-name: image-section-frame;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	margin-right: 0%;
}

@-webkit-keyframes image-section-frame {
	from {
		margin-right: -10%;
		opacity: 10%;
	}
	to {
		margin-right: 0%;
	}
}

@keyframes image-section-frame {
	from {
		margin-right: -10%;
		opacity: 10%;
	}
	to {
		margin-right: 0%;
	}
}

.lightbulb {
	-webkit-animation-name: showing;
	animation-name: showing;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

@-webkit-keyframes showing {
	from {
		opacity: 10%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes showing {
	from {
		opacity: 10%;
	}
	to {
		opacity: 100%;
	}
}
